export APPLE_ID="" # Replace with your Apple ID email
export APPLE_APP_SPECIFIC_PASSWORD="" # Replace with your App Specific Password, it looks like "dsjg-zqet-rpzp-nfzy"
export APPLE_TEAM_ID="" # Replace with your Team ID, it looks like "AB8Y7TRS2P"
export CSC_LINK="./certificate.p12" # Keep it as it is
export CSC_KEY_PASSWORD="" # Replace with your Certificate Password
npm run package
